.advantages {
  background-color: #ffffff;
}

.advantages__header {
  margin: 45px auto;
}

.advantages__top {
  padding-top: 80px;

  background: #f2f2f2 url("../img/bg-triangle-white.svg") top center no-repeat;
  background-size: contain;

  overflow: hidden;
}

.advantages__bottom {
  display: none;
  padding-bottom: 83px;

  background-color: #ffffff;
}

.advantages__offer {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  text-align: center;

  width: 230px;
  margin: 0 auto;
}

.advantages__list {
  position: relative;

  margin: 0 auto;
  padding: 0;
  padding-bottom: 280px;
  width: 280px;

  list-style: none;

  &::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: -40px;

    width: 157px;
    height: 320px;
    margin-left: -78px;

    background-image: url("../img/iphone-screen-mobile@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.advantages__item {
  margin-bottom: 35px;
}

.advantages__option {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.advantages__option-image {
  display: none;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  margin: 0;
}

.advantages__effect {
  font-size: 30px;
  line-height: 36px;
  color: #000000;

  width: 175px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.advantages__message,
.advantages__link {
  font-size: 14px;
  line-height: 24px;
}

.advantages__message {
  width: 296px;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__link {
  color: #d22856;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .advantages__offer {
    font-size: 40px;

    width: 400px;

    &--long {
      width: 620px;
    }
  }

  .advantages__top-wrapper,
  .advantages__bottom-wrapper {
    position: relative;

    width: 660px;
    margin: 0 auto;
  }

  .advantages__list {
    position: static;

    width: 310px;
    margin-right: 0;
    padding-bottom: 0;

    &::after {
      top: -80px;
      left: 0;

      width: 268px;
      height: 481px;
      margin: 0;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .advantages__option {
    text-align: left;

    margin-right: 0;
  }

  .advantages__item-description {
    text-align: left;
  }

  .advantages__bottom {
    z-index: 10;

    display: block;
  }

  .advantages__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
  }

  .advantages__bottom-left {
    font-size: 96px;
    line-height: 1.56;
    font-weight: 700;
    color: #d22856;
    text-align: center;

    width: 238px;
    min-height: 276px;
    padding-top: 75px;

    background: url("../img/icon-editor-diagram-fill.svg") no-repeat center 55px,
      url("../img/icon-timer.svg") no-repeat;
    background-size: 202px 202px,
      cover;
  }

  .advantages__bottom-right {
    width: 310px;
    margin-top: 43px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__top {
    padding-top: 0;
    padding-bottom: 73px;
  }

  .advantages__offer {
    font-size: 50px;

    width: 525px;

    &--long {
      width: 750px;
    }
  }

  .advantages__top-wrapper,
  .advantages__bottom-wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    /* Временно для сетки*/
    justify-content: space-around;
    width: 940px;

    &::after {
      display: none;
    }
  }

  .advantages__item {
    position: relative;

    width: 240px;

    margin-bottom: 0;
    padding-top: 302px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;

      width: 292px;
      height: 302px;
      margin-left: -146px;

      background: no-repeat top center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-size: 292px auto;
      }
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__option {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__option-image {
    display: block;
  }

  .advantages__item-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__bottom {
    width: auto;
    padding-bottom: 115px;

    background-color: #f2f2f2;
  }

  .advantages__bottom-wrapper {
    padding-top: 0;
  }

  .advantages__bottom-left {
    width: 298px;
    min-height: 345px;
    padding-top: 120px;

    background-position: center 70px,
      left top;
    background-size: auto auto,
      cover;
  }

  .advantages__bottom-right {
    width: 570px;
    margin-top: 97px;
  }

  .advantages__effect {
    line-height: 30px;

    width: auto;
    margin-bottom: 35px;
  }

  .advantages__message,
  .advantages__link {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__message {
    width: 526px;
    margin-bottom: 35px;
  }

  .advantages__effect-space,
  .advantages__message-space {
    display: none;
  }

  .advantages__message-space--always {
    display: inline;
  }
}
