.call-us {
  text-align: center;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.call-us__text {
  font-size: 18px;
  font-weight: 700;
}

.call-us__number {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .call-us {
    width: 275px;
  }
}
