.contest {
  font-size: 14px;
  line-height: 30px;

  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 15px;
}

.contest__participant-name {
  display: flex;
  flex-direction: column;
  order: -3;
  width: 280px;
  padding: 0;
  margin: 0 auto 25px;

  border: 0;
}

.contest__label {
  display: block;
  margin-left: 23px;
  margin-bottom: 6px;
}

.contest__text {
  width: 100%;

  padding: 12px 20px 15px;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:focus {
    border-color: #d22856;

    outline: 0;
  }
}

.contest__slogan {
  text-align: center;

  width: 280px;
  margin: 0 auto 34px;
}

.contest__slogan-extra {
  display: none;
}

.contest__text-label {
  color: #d22856;
  text-transform: uppercase;

  margin-bottom: 18px;

  &:hover .contest__text {
    border-color: #283645;
  }
}

.contest__text,
.contest__story {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.contest__text::placeholder,
.contest__story::placeholder {
  color: #283645;
}

.contest__achievements-wrapper,
.contest__apps-wrapper {
  padding-top: 38px;

  background-color: #f2f2f2;
}

.contest__achievements,
.contest__apps {
  margin: 0;
  margin-bottom: 32px;
  padding: 0 20px;

  border: 0;
}

.contest__subtitle {
  padding: 0 20px;

  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  display: block;
  margin: 0 auto;
}

.contest__checkbox-list,
.contest__radio-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contest__checkbox-list {
  margin-top: 43px;
}

.contest__radio-list {
  margin-top: 39px;
}

.contest__checkbox-item {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 45px;
  }
}

.contest__radio-item {
  margin-bottom: 43px;

  &:last-of-type {
    margin-bottom: 45px;
  }
}

.contest__checkbox-label,
.contest__radio-label {
  position: relative;

  font-size: 18px;

  padding-left: 70px;
}

.contest__checkbox-label:hover .contest__checkbox-logo,
.contest__radio-label:hover .contest__radio-logo {
  border-color: #283645;
}

.contest__checkbox {
  &:checked + .contest__checkbox-logo {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.698px' height='16.09px' viewBox='-82.357 4.875 21.698 16.09' enable-background='new -82.357 4.875 21.698 16.09' xml:space='preserve'%3E%3Cpath fill='%23d22856' d='M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:focus + .contest__checkbox-logo {
    border-color: #283645;
  }

  &:active + .contest__checkbox-logo {
    border-color: #d22856;
  }
}

.contest__checkbox-logo {
  position: absolute;
  top: -6px;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.contest__radio {
  &:checked + .contest__radio-logo::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 15px;
    height: 15px;
    margin-top: -7.5px;
    margin-left: -7.5px;

    background-color: #d22856;
    border-radius: 50%;
  }

  &:focus + .contest__radio-logo {
    border-color: #283645;
  }

  &:active + .contest__radio-logo {
    border-color: #d22856;
  }
}

.contest__radio-logo {
  position: absolute;
  left: 0;
  top: -7px;

  width: 39px;
  height: 38px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest__contacts {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;

  border: 0;

  .contest__subtitle {
    display: none;
  }
}

.contest__contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.contest__message {
  width: 280px;
  margin: 0 auto 38px;
  padding: 0;

  border: 0;

  .contest__text-label {
    line-height: 30px;
  }
}

.contest__story {
  width: 100%;
  min-height: 201px;
  margin-top: 10px;
  padding: 14px 18px;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  resize: none;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;

    outline: 0;
  }
}

.contest__send {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.contest__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  width: 100%;
  margin-bottom: 36px;
  padding: 16px;

  background-color: #2aab6d;
  border: 0;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.contest__mark {
  margin: 0 auto;

  font-size: 14px;
  text-transform: uppercase;
}

.contest__note {
  color: #d22856;
}

.contest__optional {
  display: none;
}

@media (min-width: @tablet-width) {
  .contest {
    width: 660px;
    padding: 92px 20px 51px;
  }

  .contest__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__form fieldset,
  .contest__achievements-wrapper,
  .contest__apps-wrapper,
  .contest__send {
    width: 100%;
  }

  .contest__slogan {
    font-size: 18px;

    width: 500px;
    margin: 0 auto 71px;
  }

  .contest__slogan-extra {
    display: inline;
  }

  .contest__text-label {
    display: flex;
    align-items: baseline;
    margin-bottom: 52px;
  }

  .contest__participant-name {
    margin-bottom: 0;

    .contest__text {
      margin-left: 18px;
      padding: 14px 20px 15px;
    }
  }

  .contest__label {
    margin-left: 0;
  }

  .contest__text {
    padding: 14px 18px 15px;
  }

  .contest__achievements-wrapper,
  .contest__apps-wrapper {
    padding-top: 0;

    background-color: #ffffff;
  }

  .contest__achievements,
  .contest__apps,
  .contest__contacts {
    margin-bottom: 51px;
    padding: 0;

    background-color: inherit;
    border: 2px solid #e5e5e5;
  }

  .contest__checkbox-list,
  .contest__radio-list {
    margin: 0 58px;
  }

  .contest__checkbox-item {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 51px;
    }
  }

  .contest__checkbox-label,
  .contest__radio-label {
    padding-left: 60px;
  }

  .contest__subtitle {
    line-height: 30px;

    padding: 0 30px;
  }

  .contest__contacts {
    order: -1;

    .contest__subtitle {
      display: block;
      margin-bottom: 32px;
    }

    .contest__contacts-wrapper {
      margin: 0 58px;
    }

    .contest__text-label {
      flex-wrap: wrap;
      align-items: stretch;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 26px;
      }
    }

    .contest__text {
      width: 440px;
      order: -1;
      margin-top: 0;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .contest__contacts-logo {
      width: 60px;

      background-color: #e5e5e5;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      background-position: center center;
      background-repeat: no-repeat;

      cursor: pointer;

      &--telephone {
        background-image: url("../img/icon-phone.svg");
      }

      &--email {
        background-image: url("../img/icon-mail.svg");
      }
    }

    .contest__label {
      margin: 9px 20px 0;
    }
  }

  .contest__achievements-wrapper .contest__subtitle,
  .contest__apps-wrapper .contest__subtitle {
    margin-bottom: 42px;
  }

  .contest__apps-wrapper {
    order: -2;

    .contest__subtitle {
      padding: 0 25px;
    }

    .contest__radio-list {
      margin-bottom: 57px;
    }
  }

  .contest__message {
    margin-bottom: 67px;
    padding: 0 58px;

    border: 2px solid #e5e5e5;

    .contest__subtitle {
      margin-bottom: 32px;
      padding: 0 40px;
    }

    .contest__text-label {
      margin-bottom: 0;
    }

    .contest__story {
      min-height: 192px;
      margin-top: 0;
      margin-bottom: 41px;
    }
  }

  .contest__send {
    justify-content: space-between;
    align-items: center;

    .contest__button {
      width: 300px;
      margin-bottom: 0;
    }
  }

  .contest__mark {
    margin: 0;
    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .contest {
    width: 960px;
    padding: 92px 10px 0;
  }

  .contest__slogan {
    width: 780px;
    margin-bottom: 65px;
  }

  .contest__form .contest__participant-name,
  .contest__apps-wrapper {
    width: 435px;
  }

  .contest__apps-wrapper .contest__subtitle {
    margin-bottom: 44px;
  }

  .contest__radio-item {
    margin-bottom: 42px;
  }

  .contest__checkbox-label,
  .contest__radio-label {
    padding-left: 58px;
  }

  .contest__radio-list {
    margin-left: 75px;
  }

  .contest__participant-name {
    margin: 0;
    margin-top: 20px;
  }

  .contest__achievements-wrapper .contest__subtitle {
    margin-bottom: 41px;
  }

  .contest__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    margin: 0 58px 7px;
  }

  .contest__checkbox-item {
    margin-right: 20px;

    &:first-child {
      order: -3;
      margin-right: 58px;
    }

    &:nth-child(2) {
      order: 1;
      margin-right: 97px;
    }

    &:nth-child(3) {
      order: -2;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: -1;
      margin-right: 7px;
      margin-left: auto;
    }

    &:nth-child(6) {
      order: 3;
      margin-right: 2px;
      margin-left: auto;
    }
  }

  .contest__contacts {
    padding: 0;

    .contest__subtitle {
      margin-bottom: 28px;
    }
  }

  .contest__contacts-wrapper {
    flex-flow: row wrap;
    justify-content: space-between;

    .contest__text-label {
      width: 375px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 15px;
      }
    }

    .contest__text {
      width: 315px;
    }
  }

  .contest__message {
    margin-bottom: 65px;

    .contest__subtitle {
      margin-bottom: 28px;
    }

    .contest__story {
      min-height: 128px;
      margin-bottom: 33px;
    }
  }

  .contest__optional {
    display: inline;
  }
}
