.contest {
  font-size: 14px;
  line-height: 30px;
}

.contest__text-label {
  color: #d22856;
  text-transform: uppercase;
}

.contest__text,
.contest__story {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.contest__text::placeholder,
.contest__story::placeholder {
  color: #283645;
}

.contest__achievements,
.contest__apps {
  background-color: #f2f2f2;
}

.contest__subtitle {
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}

.contest__checkbox-label,
.contest__radio-label {
  font-size: 18px;
}

.contest__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #2aab6d;
}

.contest__mark {
  font-size: 14px;
  text-transform: uppercase;

  span {
    color: #d22856;
  }
}
