.edit-tools {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 110px;
  padding: 0;

  list-style: none;
}

.edit-tools__item {
  &--crop {
    margin: 0 35px 0 16px;
  }

  &--fill {
    margin: 3px 39px 0 0;
  }
}

.edit-tools__option {
  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  &:hover .edit-tools__option-image,
  &:focus .edit-tools__option-image {
    fill: #283645;
    opacity: 0.5;
  }

  &--active .edit-tools__option-image,
  &:active .edit-tools__option-image {
    fill: #d22856;
    opacity: 1;
  }
}

.edit-tools__option-image {
  fill: #283645;
  opacity: 0.3;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }
}

.edit-tools__toddle-scale {
  position: absolute;
  top: 84px;
  left: -2px;

  width: 240px;
  height: 2px;

  background-color: #283645;
}

.edit-tools__toddler {
  position: absolute;
  top: -7px;
  left: 193px;

  text-indent: -9999px;

  display: block;
  width: 14px;
  height: 14px;
  padding: 0;

  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: #d22856;
  }
}

.edit-tools__item .edit-tools__toddle-scale {
  display: none;
}

.edit-tools__option--active + .edit-tools__toddle-scale {
  display: block;
}

@media (min-width: @tablet-width) {
  .edit-tools {
    flex-direction: column;
    align-items: flex-start;
    width: 275px;
    margin: 9px 0 38px auto;
  }

  .edit-tools__item {
    position: relative;

    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 28px;
    padding-bottom: 21px;

    border-bottom: 1px solid #dddfe0;

    &--fill {
      margin-bottom: 26px;
      padding-bottom: 19px;

      .edit-tools__toddle-scale {
        top: 50% - 26px;
      }
    }

    &--contrast {
      padding-bottom: 24px;

      .edit-tools__toddle-scale {
        top: 50% - 26px;
      }
    }
  }

  .edit-tools__item .edit-tools__toddle-scale {
    display: block;
  }

  .edit-tools__toddle-scale {
    top: 50% - 21px;
    left: 55px;

    width: 202px;
    margin-top: -3px;
  }

  .edit-tools__option-image {
    margin-left: 3px;

    fill: #d22856;
    opacity: 1;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  .edit-tools__item--crop .edit-tools__toddler {
    left: 147px;
  }

  .edit-tools__item--fill .edit-tools__toddler {
    left: 25px;
  }

  .edit-tools__item--contrast .edit-tools__toddler {
    left: 96px;
  }
}

@media (min-width: @desktop-width) {
  .edit-tools {
    width: 410px;
    margin-top: 0;
    margin-bottom: 128px;
  }

  .edit-tools__item {
    margin-bottom: 18px;
    padding-bottom: 10px;

    .edit-tools__toddle-scale {
      top: 50% - 8px;
    }

    &--fill {
      margin-bottom: 18px;
      padding-bottom: 8px;

      .edit-tools__toddle-scale {
        top: 50% - 10px;
      }
    }

    &--contrast {
      padding-bottom: 16px;

      .edit-tools__toddle-scale {
        top: 50% - 15px;
      }
    }
  }

  .edit-tools__option-image {
    margin-left: 0;

    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: 6px;
    }
  }

  .edit-tools__toddle-scale {
    left: 92px;

    width: 288px;
  }

  .edit-tools__item--crop .edit-tools__toddler {
    left: 71px;
  }

  .edit-tools__item--fill .edit-tools__toddler {
    left: 246px;
  }

  .edit-tools__item--contrast .edit-tools__toddler {
    left: 161px;
  }
}
