.site-header {
  display: flex;
  flex-direction: column;

  background: #1d2631 url("../../img/bg-back-mobile@1x.jpg") no-repeat;
}

.site-header__top {
  display: flex;
  justify-content: space-between;
  /* Временно для сетки */
  min-height: 66px;
}

.site-header__bottom {
  width: 320px;
  margin: 0 auto;
}

.site-header__page-title {
  width: 280px;
  margin: 0 auto;
}

.site-header__headline {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .site-header__top {
    /* Временно для сетки */
    min-height: 110px;
  }

  .site-header__bottom {
    width: 660px;
    /* Временно для сетки */
    min-height: 475px;
  }

  .site-header__page-title {
    width: 530px;

    &--index {
      width: 230px;
      margin-left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-header__bottom {
    width: 960px;
    /* Временно для сетки */
    min-height: 600px;
  }

  .site-header__page-title {
    width: 820px;

    &--index {
      width: 270px;
    }
  }
}
