.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
}

.site-footer--index {
  display: none;
}

.site-footer__logo {
  color: #283645;

  display: block;
  margin: 0 auto;
  margin-bottom: 39px;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: #283645;

    opacity: 0.3;
  }
}

.site-footer__logo-image {
  display: none;

  fill: #d22856;

  &--not-desktop {
    display: inline;
  }
}

@media (min-width: @tablet-width) {
  .site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    /* Минимальная высота для подвала сайта оправдана, так как изменения в эту часть сайта вносятся крайне редко, и в основном эти изменения направлены на добавление чего-нибудь, а не удаление */
    min-height: 127px;
    padding: 0 20px;
  }

  .site-footer__logo {
    margin: 0;
    padding-bottom: 12px;
  }
}

@media (min-width: @desktop-width) {
  .site-footer {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 197px;
  }

  .site-footer__logo-image {
    &--not-desktop {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }
}
