.tariffs {
  text-transform: uppercase;
}

.tariffs__header {
  color: #ffffff;

  background-color: #283645;
}

.tariffs__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.tariffs__price {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}

.tariffs__cell {
  font-size: 14px;
  line-height: 30px;

  background-color: #ffffff;
}
